<div class="columns">
    <div class="column">
    <h1>{{blogpost.title}}</h1>
    <h2>{{blogpost.user.name}}</h2>
    <h3>{{blogpost.date}}</h3>
    <p>{{blogpost.content}}</p>
    </div>
</div>

<div class="columns">
    {{#each blogPost.Comments as |blogPost.Comment|}}
    <div>
        <p class="column is-three-fifths">{{content}}</p>
        <p class="column is-one-fifth">{{user.name}}</p>
        <p class="column is-one-fifth">{{date}}</p>
                {{#ifEquals ../blogpost.user_id ../session.user_id}}
                <button id="delete-blogpost-button" data-id="{{_id}}">Delete</button>
                {{/ifEquals}}
    </div>
    {{/each}}
</div>
<div>
    <a href="/createcomment">+ Say Something</a>
</div>
{{#ifEquals ../blogpost.user_id ../session.user_id}}
<script src="../public/js/deletepost.js"></script>
{{/ifEquals}}