<div class="columns">
    <div class="column">
    <h1>{{blogPosts.title}}</h1>
    <h2>{{blogPosts.user.name}}</h2>
    <h3>{{blogPosts.date_created}}</h3>
    <p>{{blogPosts.content}}</p>
    </div>
</div>

<div class="columns">
    {{#each Comment }}
    <div>
        <p class="column is-three-fifths">{{content}}</p>
        <p class="column is-one-fifth">{{user.name}}</p>
        <p class="column is-one-fifth">{{date}}</p>

    </div>
    {{/each}}
</div>
<div>
    <form id="create-comment">
        <textarea id="content"></textarea>
        <button type="submit" id="createcomment">+ Say Something</button>
    </form>
</div>
<script src="/js/createcomment.js"></script>